.list {
    color: #fff;
    width: 300px;
    background-color: #bf07ac;
    height: 50px;
    margin: 20px auto;
    border-radius: 10px;
}

.list p {
    padding: 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list p span {
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
}

.faicons {
    margin: 0 5px;
    font-size: 18px;
}

.list p input {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: left;
}

.list p input:focus {
    outline: none;
}